<h1>This is the game page</h1>

<form action="/games" method="GET">
  {{#if query}}
    <input
      type="text"
      placeholder="Search Game"
      name="search"
      value="{{query}}"
    />
  {{else}}
    <input type="text" placeholder="Search Game" name="search" />
  {{/if}}

  <button type="submit">Search</button>
</form>
<br />
{{#each games}}
  <div class="table-responsive">
    <table class="table table-hover table-dark align-middle">
      <thead>
        <tr class="align-">
          <th scope="col">id</th>
          <th scope="col">Game</th>
          <th scope="col">Details</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">{{this.apps.appid}}</th>
          <td>{{this.apps.name}}</td>
          <td><button>Game page</button></td>
        </tr>
      </tbody>
    </table>
  </div>

  {{!-- <form action="/games/{{this.apps.appid}}">
    <button>{{this.apps.name}}</button>
  </form> --}}

{{/each}}