<h1 class="title">DREAMSTEAM</h1>
<div class="searchbar">
  <form action="/games" method="GET" >
    {{#if query}}
    <input class="input" type="text" placeholder="Search Game" name="search" value="{{query}}" />
    {{else}}
    <input class="input" type="text" placeholder="Search Game" name="search" />
    {{/if}}
    <button type="submit" class="btnsearch">Search</button>
    </form>
</div>


  
<br />
<div class="container tablehead">
  <h2>ID</h2>
  <h2>Game</h2>
  <h2>Details</h2>
</div>
{{#each games}}
<div class="container tabledata">
    <h4>{{this.apps.appid}}</h4>
    <h4>{{this.apps.name}}</h4>
    <form action="/games/{{this.apps.appid}}">
    <button class="btndetail">Details</button>
  </form>
</div>

  

{{/each}}