<h1>This is the game page</h1>

<form action="/games" method="GET">
  {{#if query}}
    <input
      type="text"
      placeholder="Search Game"
      name="search"
      value="{{query}}"
    />
  {{else}}
    <input type="text" placeholder="Search Game" name="search" />
  {{/if}}

  <button type="submit">Search</button>
</form>
<br />
<div class="container tablehead">
  <h4>ID</h4>
  <h4>Game</h4>
  <h4>Details</h4>
</div>
{{#each games}}
<div class="container">
    <h4>{{this.apps.appid}}</h4>
    <h4>{{this.apps.name}}</h4>
    <form action="/games/{{this.apps.appid}}">
    <button>{{this.apps.name}}</button>
  </form>
</div>

  

{{/each}}