<h1>{{list.name}}</h1>

<div>
    <p>Description: {{list.description}}</p>
    <ul>Games:
        {{#each list.games}}
            <li>Name:{{this.name}}</li>
        {{/each}}
    </ul>
    <form method="POST" action="/lists/{{list._id}}/delete">
        <button class="btn btn-danger" type="submit">DELETE</button>
    </form>
    <a href="/lists/{{list._id}}/edit"><button class="btn btn-warning" type="submit">EDIT</button></a>
</div>